.App {
  text-align: center;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

table {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
}

th {
  background-color: #8B4513; /* This is a shade of brown */
  color: white;
}

tr:nth-child(even){background-color: #f2f2f2;}

tr:hover {background-color: #ddd;}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.center-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  text-align: center;
}

.center-container button {
  margin-top: 20px;
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
  flex-direction: column;
}


/* Login */
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-form {
  text-align: center;
  width: 100%;
  max-width: 320px;
}

.login-form input,
.login-form button,
.login-form p {
  margin: 10px 0;
}

.login-form button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.login-form button:hover {
  background-color: #0056b3;
}

/* Add styles for the error message if needed */
.error {
  color: red;
}

/* CreateAccountPage */
.create-account-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.create-account-form {
  text-align: center;
  width: 100%;
  max-width: 320px;
}

.create-account-form input,
.create-account-form button,
.create-account-form p {
  margin: 10px 0;
}

.create-account-form button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.create-account-form button:hover {
  background-color: #0056b3;
}

/* Log-out */

.auth-button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.carousel-container {
  max-width: 400px;
  margin: auto; /* Centers the carousel */
}

.carousel-image {
  max-height: 250px; /* Adjust based on your needs */
  object-fit: cover; /* Keeps the aspect ratio */
}