header {
    background-color: #fdf2aa;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  header h1 {
    margin: 0;
  }
  
  header ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
  }
  
  header ul li {
    margin: 0 15px;
  }
  
  header ul li a {
    color: #333;
    text-decoration: none;
    font-weight: bold;
  }
  
  header ul li a:hover {
    color:darkcyan;
    /* text-decoration: underline; */
  }
  