.adminOrder-top {
    height: 19vw;
    width: 90%;
    margin: 30px auto;
    background: url('../../foodImages/order.jpg') no-repeat center center;
    background-size: cover;
    position: relative;
    border-radius: 13px;
    overflow: hidden;
    margin-bottom: 70px;
    margin-top: -80px;
}

.adminOrder-top-contents{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
    width: 100%; 
    height: 100%; 
    gap: 1.5vw;
}

.adminOrder-top-contents h2 {
    font-weight: 650;
    color: white;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.3);
    font-size: max(3.2vw, 20px);
}