.food-menu {
    text-align: center;
    margin-top: -91px;
}

.food-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.food-item {
    border: 1px solid #ddd;
    margin: 10px;
    padding: 10px;
    width: 300px;
}

.food-image {
    max-width: 100%;
    height: auto;
}

.food-details {
    text-align: left;
}

.error {
    color: red;
}

.logo-image{
    width: 80px;
    height: auto;
    margin-top: -10px;
}

.logo-link {
    text-decoration: none;
    color: #ffe082;
    font-family: 'PT Sans';
    font-size: 45px;
    font-weight: bold;
    margin-left: 10px;
}